html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

@font-face {
  font-family: Barlow;
  src:url(font/barlow.ttf);
 }



#title{
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 40%;
  left:36%;
}

#about{
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 36%;
}

#nav{
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 51%;
  opacity: 1;
  padding: 5px;

}

#button {
  position: absolute;
  top: 5%;
  left: 90%;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:transparent;
  border:2px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Barlow, "sans-serif", generic;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
.myButton:hover {
  background-color:transparent;
  border:2px solid #00f9ff;
  color: #00f9ff;
}



body{
  font-family: Barlow, "sans-serif", generic;
  color: white;
}

h1{
 font-family: Barlow, "sans-serif", generic;
  font-size: xx-large; 
  text-align: center;
}

h2{
  font-family: Barlow, "sans-serif", generic;
  font-size: medium;
  text-align: center;
}


p{
  font-family: Barlow, "sans-serif", generic;
  font-size: large;
  text-align: center;
}

a{
  font-family: Barlow, "sans-serif", generic;
  text-decoration: none;
  color: white;
  font-size: large;
}

a:hover {
  text-decoration: none;
  color: #00f9ff;
  font-size: large;
}


html,body{ 
  width:100%;
  height:100%;
  background:#111;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

canvas{
  display:block;
  /* vertical-align:bottom; */
}


#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    position: absolute;
    top: 28%;
    right: 7.5%;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #00f9ff;
    text-decoration: none;
    cursor: pointer;
}
